.status_bar_frame {
  margin-top: 3px;
  position: relative;
}

.status_bar_history {
  border-right: solid white 1px;
  position: absolute;
  width: 1px;
  height: 100%;
}

.status_bar_metal_storage {
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(1, #00BBFF),
  color-stop(0, #0279A1)
  );
  height: 75%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.status_bar_metal_storage_frame {
  height: 12px;
  position: relative;
}

.div_metal_storage_display {
    display: block;
    float: left;
    height: 24px;
    margin: 0px 4px 0px 5px;
    width: 24px;
}

.status_bar_metal_gain {
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, #00FFBB),
    color-stop(0, #0279A1)
    );
    height: 100%;
    width: 75%;
}

.status_bar_metal_loss {
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, #FF88FF),
    color-stop(0, #0279A1)
    );
    height: 100%;
    width: 75%;
}



.status_bar_energy_storage {
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(1, #F9EC31),
  color-stop(0, #ADA100)
  );
  height: 75%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.status_bar_energy_storage_frame {
  height: 12px;
  position: relative;
}

.div_energy_storage_display {
    display: block;
    float: left;
    height: 24px;
    margin: 0px 4px 0px 5px;
    width: 24px;
}

.status_bar_energy_gain {
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, #B9FF11),
    color-stop(0, #ADA100)
    );
    height: 100%;
    width: 75%;
}

.status_bar_energy_loss {
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(1, #FF4C00),
    color-stop(0, #ADA100)
    );
    height: 100%;
    width: 75%;
}

